<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="cursor: pointer" class="navbar-brand">Grocery App</a>
      </div>
  
      <div >
        <ul class="nav navbar-nav">
          <li ><a routerLinkActive="active" [routerLink]="['/']" routerLinkActive="router-link-active" >Add groceries</a></li>
           <li ><a routerLinkActive="active"  [routerLink]="['/grocerylist']" routerLinkActive="router-link-active" >Grocery List</a></li>
        
          <li ><a routerLinkActive="active" [routerLink]="['/checkout']" routerLinkActive="router-link-active" >Checkout</a></li>
          
    
        </ul>   
        
      </div>
    </div>
  </nav>


  